* {
    margin: 0;
    padding: 0;
}
:root {
    scroll-behavior: smooth;
}
html {
    --theme-color: #479cd0;
    --theme-background-color: #161719;
    --theme-background-position: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-position: center calc(1% * var(--theme-background-position));
}

html,
body,
.page-body {
    scrollbar-width: thin;
}
.theme-dark #body,
.theme-dark {
    scrollbar-color: #c4c4c4 transparent !important;
}

#clock {
    font-family: "Digital";
}

html {
    background-color: var(--theme-background-color);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-blend-mode: overlay !important;
}
.html-background {
    background-color: transparent !important;
}

#body {
    display: flex !important;
}

header {
    padding: 4px;
}
.page-head {
    background-color: rgba(51, 53, 71, 0.7);
    z-index: 1;
}
.page-nav {
    display: flex;
    width: calc(100vw - 290px - 300px) !important;
    margin-left: auto;
    margin-right: auto;
}
.page-body {
    padding: 4px;
    width: calc(100vw - 290px - 300px) !important;
    flex-direction: column;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0.6rem;
}
.navbar h3 {
    vertical-align: center;
    display: inline-block;
}
.navbar li {
    font-size: 14.5px;
    position: relative;
    padding-left: 1.2rem;
    color: #a1a2ab;
}
.page-nav h3 {
    font-size: 12.5pt;
    font-family: "Arial Black";
    color: rgb(237, 236, 236) !important;
}

.page-nav a {
    font-weight: 600 !important;
    font-size: 12pt;
    color: rgb(237, 236, 236) !important;
}

.page-head {
    position: sticky;
    top: 0;
}
.sticky-head {
    background-color: #29293a;
}

#menu {
    position: fixed;
    z-index: 9999; /* Most times is 2000 used as middle */
    visibility: hidden;
    opacity: 0;

    padding: 0px;
    font-size: 9.5pt;
    font-family: Tahoma;
    background-color: var(--context-background-color) !important;
    color: var(--context-text-color) !important;
    border: 1px solid var(--context-item-background-hover-color);

    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;

    width: 170px;
    padding: 1px;
    padding-top: 4px;
    border-radius: 4px;
}
#menu div {
    display: block;
    color: var(--context-text-color) !important;
    text-decoration: none;
    padding: 8px 10px 8px 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 3px;
}
#menu > div:hover {
    background-color: var(--context-item-background-hover-color) !important;
    color: var(--context-text-color) !important;
}

#menu hr {
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
    border-color: var(--context-item-background-hover-color) !important;
}

.btn {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #405cf5;
    margin-bottom: 6px;
}
.btn-success {
    background-color: #2ea44f !important;
}
.btn-error {
    background-color: #ff4742 !important;
}
input,
select,
checkbox {
    border-radius: 6px;
    height: 30.4px;
    margin-bottom: 6px;
    width: calc(100% - 10px);
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    background-color: #3a474d;
    color: white !important;
    border-color: #3a474d !important;
    box-sizing: border-box;
}

#json-viewer span {
    overflow-wrap: break-word !important;
}
