* {
    margin: 0;
    padding: 0;
}
:root {
    scroll-behavior: smooth;
}
html {
    --theme-color: #479cd0;
    --theme-background-color: #161719;
    font-size: 16px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#clock {
    font-family: "Digital";
}

html {
    background-color: var(--theme-background-color);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-blend-mode: overlay !important;
}
.html-background {
    background-color: transparent !important;
}

header {
    padding: 4px;
}
.page-head {
    background-color: rgba(51, 53, 71, 0.7);
}
.page-nav {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.page-body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    padding: 4px;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0.6rem;
}
.navbar h3 {
    vertical-align: center;
    display: inline-block;
}
.navbar li {
    font-size: 14.5px;
    position: relative;
    padding-left: 1.2rem;
    color: #a1a2ab;
}
.page-nav h3 {
    font-size: 12.5pt;
    font-family: "Arial Black";
    color: rgb(237, 236, 236) !important;
}

.page-nav a {
    font-weight: 600 !important;
    font-size: 12pt;
    color: rgb(237, 236, 236) !important;
}
