.theme-light {
    --panel-background-color: #f8f9fa;
    --panel-text-main-color: black;
    --panel-text-second-color: rgba(0, 0, 0, 0.6);
    --panel-text-info-color: black;
    --html-scrollbar-color: #c4c4c4 transparent;
    --context-background-color: #f8f9fa;
    --context-item-background-hover-color: rgb(170, 170, 170);
    --context-text-color: black;
}
.theme-dark {
    --panel-background-color: linear-gradient(to top, #373737, #212121);
    --panel-text-main-color: white;
    --panel-text-second-color: rgb(207, 207, 207);
    --panel-text-info-color: rgb(170, 170, 170);

    --context-background-color: #2b2a33;
    --context-item-background-hover-color: #52525e;
    --context-text-color: #fbfbfe;
}
